

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
} 

.background{
    background: linear-gradient(0deg,rgb(121, 48, 148), rgb(80, 108, 186)) ;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    

}
.item-head {
width: 1168px;
height: 65px;
margin: 0 auto;
display: flex;
justify-content: space-around;
background-color: rgb(80, 108, 186);
align-items: center;
border: 1px solid lightblue;
border-radius: 10px;
border-left-color: rgb(97, 122, 143);
border-right-color: aliceblue;
border-bottom-color: aliceblue;
border-top-color: rgb(97, 122, 143);


}

.item-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    border-radius: 10px;
    border-left-color: rgb(97, 122, 143);
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
    border-top-color: rgb(97, 122, 143);
    text-decoration: none;
    
    
}



.item-list li {
    margin-right: 17px;
    color: aliceblue;
    padding: 30px;
    
  
}

.item-img{
    margin-top: 13px;

}
.logo {
    width: 50px;
    height: 45px;
    
}

.item-btn {
    background: transparent;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border-left-color: rgb(97, 122, 143);
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
    border-top-color: rgb(97, 122, 143);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    cursor: pointer;

}

a{
   color: inherit;
   font:inherit;
   text-decoration: none;
}
.al{
    color: inherit;
   font:inherit;
   text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-left-color: rgb(97, 122, 143);
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
    border-top-color: rgb(97, 122, 143);
    transition: 1s;
}
.al1{
    text-align: right;
}
.al:hover{
    background:linear-gradient(0deg,rgb(121, 48, 148), rgb(80, 108, 186)) ;
    border: 1px solid black;
    border-radius: 3px;
    transform: scale(1s);
    color: white;
    padding: 4px;
}



.nature{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

.nnn{
    width: 250px;
    height: 300px;
}
.nature1{
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    transition: 1s  ;
    margin-bottom: 30px;
    height: 400px;
    
}
.nature1:hover{
    transform: scale(1.1);
    
}

.addbook{
    
    display: flex;
    justify-content: flex-end;
}

.addbook1{
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background:rgb(151, 151, 151);
    color: black;
    transition: 1s  ;
    margin-bottom: 5px;
    margin-right: 10px;
    font-weight: bold;
}
.addbook1:hover{
    transform: scale(1.1);
    background-color: rgb(40, 40, 40);
    color: darkgrey;
}


.axtaris{
    width: 300px;   
   margin: 0 auto;
    position: relative;
}

.search{
    width: 100%;
 height:35px;
 /* background-color:rgba(255,255,255,0.1);  */
 background: linear-gradient (0deg,rgb(121, 48, 148), rgb(80, 108, 186));
 border: 1px solid black;
 border-radius: 10px;
 border-left-color: rgb(97, 122, 143);
 border-right-color: rgb(206, 206, 206);
 border-bottom-color: rgb(208, 211, 214);
 border-top-color: rgb(97, 122, 143);
 margin: 10px;
 background-color: rgb(225, 225, 225);
 padding: 20px;
}

.search1{
    width: 20px;
    height: 20px;
    display: flex;
    position:absolute;
    right: 0;
    top: 22px;
    color: darkgrey;
    
}
.simyaci-p{
    width: 65%;
    border: 1px solid black;
    border-radius:5px;
    border-color: aliceblue;
    padding: 10px;
}

.ing-pasient{
    
        width: 65%;
        border: 1px solid black;
        border-radius:5px;
        border-color: aliceblue;
        padding: 10px;  
        color: aliceblue; 
}

.agbayraq{
    
    width: 60%;
    border: 1px solid black;
    border-radius:5px;
    border-color: aliceblue;
    padding: 10px;  
    color: aliceblue; 
    
}

.ufuq{
    width: 65%;
    border: 1px solid black;
    border-radius:5px;
    border-color: aliceblue;
    padding: 10px;  
    color: aliceblue; 
}
.beyaz{
    width: 65%;
    border: 1px solid black;
    border-radius:5px;
    border-color: aliceblue;
    padding: 10px;
    color: aliceblue;
}
.insan {
     width: 65%;
    border: 1px solid black;
    border-radius:5px;
    border-color: aliceblue;
    padding: 10px;
    color: aliceblue;
    margin-bottom: 25px;
}
.kartanesi {
    width: 65%;
   border: 1px solid black;
   border-radius:5px;
   border-color: aliceblue;
   padding: 10px;
   color: aliceblue;
   margin-bottom: 25px;
}


.tolstoy{width: 65%;
border: 1px solid black;
border-radius:5px;
border-color: aliceblue;
padding: 10px;
color: aliceblue;
}

.book{
    width: 80%;
    margin: 100px auto;
}
.xett{
    margin-bottom: 15px;
}

.elaqe{
    margin-bottom: 15px;
    text-align: center;
}
.wp{
    
    height: 20px;
    
}
.all{
    margin-bottom: 15px;
}
.all1{
    width: 300px;
}

.up{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.about1{
    margin-bottom: 15px;
}

.login-body {
    width: 100vw;
    height: 100vh;
    background-image: url('New folder/Book-Wallpaper-03-3840-x-2400.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-back{
    width: 600px;
    height: 500px;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login-h1{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    margin-top: 20px;
    color: rgb(40, 40, 40);
}
.login-h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 40, 40);
}
.login-head{
    display: flex;
    justify-content: center;
   
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    background: none;
    margin-top: 35px;
    padding: 10px 40px;
    text-align: center;
    color: rgb(40, 40, 40);
    
}



.login-search{
   width: 365px;
   height: 50px;
   border: 1px solid black;
   border-radius: 5px;
   color: black;
   display: flex;
   justify-content: center;
   font-weight: bold;
   background: none;
   margin-top: 35px;
   padding: 2px 8px;
}

.register-back{
    width: 600px;
    height: 500px;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.label1, .label2{
   
    margin-top: 10px;
}
.sifre{
    width: 250px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: none;
    
    
}
.sifre1{
    width: 250px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: none;
    margin-top: 25px;
    text-align: center;
    background-color:rgb(40, 40, 40); 
    color: darkgrey;
    
    
}



.ad{
    background: none;
    width: 15px;
    height: 20px;

}