

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
} 

.background{
    background: linear-gradient(0deg,rgb(121, 48, 148), rgb(80, 108, 186)) ;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    

}
.item-head {
width: 1168px;
height: 65px;
margin: 0 auto;
display: flex;
background-color: rgb(80, 108, 186);
align-items: center;
border: 1px solid lightblue;
border-radius: 10px;
border-left-color: rgb(97, 122, 143);
border-right-color: aliceblue;
border-bottom-color: aliceblue;
border-top-color: rgb(97, 122, 143);


}

.item-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    border-radius: 10px;
    border-left-color: rgb(97, 122, 143);
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
    border-top-color: rgb(97, 122, 143);
    
    
}



.item-list li {
    margin-right: 17px;
    color: aliceblue;
    padding: 30px;
}

.item-img{
    margin-top: 13px;
}
.item-btn {
    background: transparent;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border-left-color: rgb(97, 122, 143);
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
    border-top-color: rgb(97, 122, 143);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    cursor: pointer;

}
.nature{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
     
}
.nnn{
    width: 250px;
    height: 300px;
}
.nature1{
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;

}

.nnn2{
    width: 250px;
    height: 300px;
}
.nature2{
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
  

}

.nnn3{
    width: 250px;
    height: 300px;
}
.nature3{
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
  

}

